<!-- Adicionar o Head -->
<%- include('./partials/head') %> 

  <body>
    <%- include('./partials/navbar') %> 
    <div class="container">
      
    <br>
    
    <a href="#"><i class="far fa-arrow-alt-circle-left pr-1 pb-2"></i>Voltar</a>
    <% if (typeof msg !== 'undefined') { %> <!-- Inicio typeof -->

      <% if (msg.tipo === 'Sucesso') { %> <!-- Inicio if sucesso -->

        <div class="alert alert-success alert-dismissible fade show p-3" role="alert">
          <strong><i class="fas fa-thumbs-up pr-1"></i>Sucesso!</strong>
          <%= msg.corpo %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

 
          

      <% } %> <!-- Fim if sucesso -->
     
       <% if (msg.tipo === 'Erro') { %> <!-- Inicio if erro -->
        <div class="alert alert-danger alert-dismissible fade show p-3" role="alert">
          <strong><i class="fas fa-times pr-1"></i>Erro! </strong>
          <%= msg.corpo %> 
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>        
       <% } %> <!-- Fim if erro -->

    <% } %> <!-- Fim typeof -->
    

    
    <div class="card shadow">
      <div class="card-header bg-green text-white pl-5 pt-3">
        <h2><i class="fas fa-bullhorn pr-3"></i>Novo Aviso</h2>
      </div>
      <div class="card-body p-5">

        <form action="/avisos/novo" method="POST">
          <div class="form-group">
            <label for="titulo">Titulo</label> 
            <input id="titulo" name="titulo" type="text" class="form-control" required placeholder="Digite o Título do Aviso">
          </div>
          <div class="form-group">
            <label for="data">Data</label> 
            <input id="data" name="data" type="date" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="mensagem">Mensagem</label> 
            <textarea id="mensagem" name="mensagem" cols="40" rows="5" class="form-control" required placeholder="Digite a Mensagem do Aviso Aqui"></textarea>
          </div> 
          <div class="form-group text-right">
            <button name="submit" type="submit" class="btn btn-primary">Cadastrar</button>
            <button name="submit" type="submit" class="btn btn-secondary">Limpar</button>
          </div>
        </form>

      </div> <!-- Card-Body-->
    </div> <!-- Card -->

    <br>

    </div><!-- Container -->

  <!-- Adicionar os Scipts do BootStrap-->
  <%- include('./partials/scripts_import') %> 

  </body>

</html>
